
/* shared Section */

*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(Assets/Hero-bg.png);
    height: 698px;
    background-repeat: no-repeat;
}
body{
    background-color: #f5F8FF;
}
/* Nav Bar Section */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    height: 158px;
    margin: 0px auto;
}
.logo{
    color: #4E47FF;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900px;
}
.nav-btn{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: #020c17;
}

/* Banner Section */

.banner-heading{
    padding-top: 130px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
}
.banner-btn{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}
.banner-btn:hover {
    background-color: #020c17;
}

/* Action Section */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
}
.action-h2{
    font-size: 46px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.action-p{
    color: grey;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}
.action-btn{
    width: 160px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}
.action-btn:hover{
    background-color: #020c17;
}
.action-img{
    border-radius: 35px;
}

/* Productive User Section */

.productive{
    background-color: rgb(215, 233, 253);
    margin: 100px 150px;
    border-radius: 30px;
}
.productive-h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.productive-div{
    display: flex;
    justify-content: space-around;
}
.productive-div h1{
    color: #4E47FF;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-bottom: 2px;
}
.productive-div p{
    color: grey;
    font-size: 16px;
    padding-bottom: 30px;
}

/* User Section */
.user{
    margin: 100px 150px;
}
.user-h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-bottom: 20px;
}
.user-flex{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.user-background-div{
    border: 1px solid gray;
    background-color: white;
    border-radius: 15px;
    border: none;
    padding-top: 15px;
    padding-left: 15px;
}
.user-h4{
    padding-top: 15px;
    padding-bottom: 8px;
}
.user-p{
    padding-bottom: 15px;
}
.user-img-icon{
    display: flex;
    gap: 10px;
}
.user-img-icon-p1{
    color: gray;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.user-img-icon-p2{
    color: lightgrey;
    font: 12px;
}

/* Focus Section */

.focus{
    margin: 100px 150px;
}
.focus-h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
}
.focus-p{
    color: grey;
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
}
.focus-btn{
    width: 160px;
    height: 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.focus-btn:hover{
    background-color: #020c17;
}
.focus-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

/* Get in Touch Section */

.touch-div{
    display: flex;
    margin: 100px 150px;
    justify-content: space-between;
    background-color: #f8f9fa;
}
.touch-div-h1{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 100px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input{
    width: 400px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.contact-form textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
}
input::placeholder, ::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 14px;
}
.touch-btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
}
.touch-btn:hover {
    background-color: #020c17;
}

/* Footer Section */

.footer-logo{
    color: #4E47FF;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer-p{
    color: grey;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 20px;
}
.footer-anchor{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    
}
.footer-anchor a{
    text-decoration: none;
    color: grey;
    font-size: 14px;
}